@import url(./home.css);
@import url(./login.css);



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Pretendaed", sans-serif;
    src: url("./text/PretendardVariable.woff2") format("woff2");
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: #f1f1f1;
}